{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h3>
                {{ squadron }} {% if squadron.invite_only %} (Invite Only) {% endif %}
                <a href="{% url 'squadron:update' squadron.pk %}" class="btn btn-primary pull-right">
                    <i class="xwing-miniatures-ship xwing-miniatures-ship-xwing"></i>
                    Edit
                </a>
                <a href="{% url 'squadron:update' squadron.pk %}" class="btn btn-primary pull-right">
                    <i class="xwing-miniatures-ship xwing-miniatures-ship-ywing"></i>
                    Edit Members
                </a>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Pilots</h3>
        </div>
        <div class="col-lg-12 table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Pilot Owner</th>
                    <th>Rank</th>
                </tr>
                </thead>
                <tbody>
                {% for pilot in squadron.squadronmember_set.all %}
                    <tr>
                        <td>{{ pilot.pilot_owner }}</td>
                        <td>{% if pilot.admin %}Officer{% else %}Pilot {% if squadron_admin %}
                            <a href="" class="btn btn-sm btn-primary">#TODO make admin</a>{% endif %}{% endif %}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="2"><a href="" class="btn btn-sm btn-primary">#TODO invite</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <h3>Campaigns</h3>
        </div>
        {% for campaign in squadron.campaign_set.all %}
            <div class="col-lg-3">
                <a href="" class="btn btn-lg btn-success">{{ campaign }}</a>
            </div>
        {% endfor %}
        <div class="col-lg-3">
            <a href="" class="btn btn-lg btn-primary">Create New Campaign</a>
        </div>

    </div>
    </div>
{% endblock %}

{% block js %}
{% endblock %}